.page-container {
  @apply ml-[100px] p-5;
}

.nav-link {
  @apply block flex items-center justify-center h-[90px] text-white capitalize text-[14px];
}

.add-new-btn-style {
  @apply whitespace-nowrap bg-primary-color text-white px-3 py-2 capitalize font-semibold rounded hover:bg-secondary-color/80;
}

.form-container {
  @apply bg-white px-5 py-5 rounded-bl rounded-br;
}

.list-header-style {
  @apply flex justify-between bg-secondary-color px-3 py-4 text-white capitalize font-bold rounded mb-2;
}

.list-row-style {
  @apply flex justify-between px-3 py-2 capitalize rounded bg-[#C5DFF8]/80 my-2;
}

.page-title {
  @apply text-2xl capitalize text-slate-500 font-bold mb-5 border-b-[2px] border-b-slate-500;
}

.employee-card {
  @apply h-[150px] border border-secondary-color rounded flex px-2 py-[5px] gap-2 relative;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
}

.employee-card-name {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.employee-card-divider {
  @apply self-center bg-secondary-color w-[2px];
  height: calc(100% - 8px);
}

.base-icon-style {
  font-size: 20px !important;
}

.edit-icon {
  @apply text-slate-500;
}

.custom-modal-style {
  @apply mx-auto rounded overflow-scroll;
  margin-top: calc(100vh * 0.2);
}

.popup-custom-modal-size {
  width: 400px;
}

.small-custom-modal-size {
  width: 800px;
}

.large-custom-modal-size {
  width: 1200px;
}

.warning-color {
  color: red !important;
}
