.page-container {
  @apply ml-[100px] p-5;
}

.nav-link {
  @apply block flex items-center justify-center h-[90px] text-white capitalize hover:bg-slate-500 text-[14px];
}

.add-new-btn-style {
  @apply whitespace-nowrap bg-green-700 text-white px-3 py-2 capitalize font-semibold rounded hover:bg-green-800;
}

.form-container {
  @apply bg-white px-5 py-5 rounded-bl rounded-br;
}

.list-header-style {
  @apply flex justify-between bg-slate-600 p-2 text-white capitalize font-bold rounded;
}

.list-row-style {
  @apply flex justify-between p-2 capitalize rounded;
}

.page-title {
  @apply text-2xl capitalize text-slate-500 font-bold mb-5 border-b-[2px] border-b-slate-500;
}
